{% extends 'core/base.html' %}
{% load static from static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'anouncements.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="announcement-header">
            <span class="back-button">
                &#8592;
            </span>
            Announcements
        </div>
        {% for announcement in announcements %}
            <a class="announcement" href="{% url 'announcement' id=announcement.id %}">
                {{ announcement.title }}
            </a>
        {% endfor %}
    </div>

    <a href="{% url 'new announcement' %}" class="add-button">+</a>
{% endblock %}
