{% extends 'kaas/base.html' %}
{% load static from static %}

{% block content %}
<div class="container">
    <div id="banner">
        <div class="kaasknop">
            <h1>Kaas Incorporated</h1>

        </div>
        <img src="{% static 'images/KAASICON.png' %}" />
    </div>


    <div class="maindiv">
        Welkom bij Kaas Incorporated!

        Dit is de plek waar jullie, onze gewaardeerde klanten, kunnen stemmen op welke concurrent we deze week
        zullen uitroeien. Zoals al op de hoofdpagina is verteld, laten we bij Kaas Incorporated niets aan het toeval
        over. Wij zijn vastberaden om de kaasmarkt volledig te domineren, en dat doen we door onze concurrenten
        systematisch van de kaart te bombarderen.

        Elke week kiezen jullie welke rivaal we zullen aanpakken en met de grond gelijkmaken. Jullie stem bepaalt
        welk bedrijf deze week wordt geëlimineerd, zodat Kaas Incorporated de onbetwiste leider blijft.

        Breng je stem uit en help ons de concurrentie te verpletteren!
    </div>

    <div class="poll2">
        <form>
            <div class="stem6">
                <h2>Breng hier uw stem uit:</h2>
            </div>
            {% csrf_token %}
            {{ form }}
            <div>div</div>
            <input type="radio" id="keuze1" />
            <label for="">Ja, bombardeer Old Amsterdam Kaas (kans op faillissement Kaas Inc.)</label>
            <div></div>
            <input type="radio" id="keuze2" />
            <label for="keuze2">Nee, ga in gesprek met de Old Amsterdam Kaas woordvoerder.</label>
            <div></div>
            <input type="radio" id="keuze3" />
            <label for="keuze3">Nee, laat Miku het geheime recept van Old Amsterdam Kaas stelen.</label>
            <div></div>
            <input type="submit" value="Stem" />
        </form>
    </div>





</div>
{% endblock %}
