:root {
    --yeet: #89cdc6;
    --the: #338296;
    --kids: #e43d82;
    --light: #fef5f7;
    --dark: #5c5a60;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--yeet), var(--the), var(--kids));
}

header {
    position: absolute;
    top: 0;
}

footer {
    position: absolute;
    bottom: 0;
}
