:root {
    --yeet: #89cdc6;
    --the: #338296;
    --kids: #e43d82;
    --light: #fef5f7;
    --dark: #1a4c5d;
    --darker: #073b4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--yeet), var(--the), var(--kids));
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.new-child {
    flex-grow: 1;
}

/* header elements */
header {
    background-color: var(--the);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: auto;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: var(--light);
}

nav a {
    text-decoration: none;
    color: var(--light);
}

nav div {
    height: 100%;
    min-width: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav div:hover {
    box-shadow: inset 0 0 0 4px var(--yeet), 
                inset 0 0 0 8px var(--the);
    background: var(--darker);
    transition: 0.2s;
}

header img {
    max-height: 60px;
}

/* footer elements */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    padding: 10px;
}

footer p {
    width: 100%;
    height: 50%;
    text-align: center;
}

#footer-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* vacature overzicht */


.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto 200px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 1em;
    color: white;
    margin-top: 60px;
  }
  
  .cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--darker);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    color: var(--light);
  }
  
  .card:hover {
    box-shadow:  0 0 0 4px var(--yeet), 
                 0 0 0 8px var(--the),
                 0 0 0 12px var(--kids);
  }
  
  .card .card-title {
    font-size: 20px;
  }
  
  .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--yeet);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: var(--the);
  }
  
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: var(--light);
  }
  
  .cards::-webkit-scrollbar-track {
    background: var(--darker);
  }
  
  @media (min-width: 500px) {
    .cards {
      grid-auto-columns: calc(50% - 10px);
      grid-column-gap: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .cards {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
  }
  