{% extends 'core/base.html' %}
{% load static from static %}

{% block content %}
    <div id="main-content">
        <div id="container">
            <div class="rounded-card left-card" id="announcements">
                <h1>Aankondigingen</h1>
                {% for announcement in announcements %}
                <a class="announcement" href="{% url 'announcement' id=announcement.id %}">{{announcement.title}}</a>
                {% endfor %}
                <h2><a href="{% url 'announcements' %}">Meer...</a></h2>
            </div>
            <div class="rounded-card right-card" id="clients">
                <h1>Cliënten</h1>
                <div class="client" id="client1">
                    <div class="client-photo"><img src="https://i.pinimg.com/236x/16/8c/57/168c57546129c909fd793a07bfacd064.jpg" /></div>
                    <div class="client-name">Miku</div>
                </div>
                <div class="client" id="client2">
                    <div class="client-photo"><img src="https://i.pinimg.com/originals/1c/56/d1/1c56d1e6e3f002f4109a1f59e56cf292.jpg" /></div>
                    <div class="client-name">Miku</div>
                </div>
                <div class="client" id="client3">
                    <div class="client-photo"><img src="https://i1.sndcdn.com/avatars-zVjMaRtPh5rI4E7x-spqtcw-t1080x1080.jpg" /></div>
                    <div class="client-name">Miku</div>
                </div>
                <h2><a href="">Meer...</a></h2>
            </div>
            <div class="rounded-card left-card" id="roles">
                <h1>Beschikbare Rollen</h1>
                {% for role in roles %}
                <a href="{% url 'role' id=role.id %}" class="roll-link">
                    <div class="role" id="role1">{{ role.title }}</div>
                </a>
                {% endfor %}
                <h2><a href="{% url 'roles' %}">Meer...</a></h2>
            </div>
            <div class="rounded-card right-card" id="profiles">
                <h1>Profielen</h1>
                <div id="profile-links">
                    {% for profile in profiles %}
                    {% if profile.pfp.url != None %}
                    <a href="/profiles/{{ profile.username }}">
                        <div class="profile-button">
                            <img src="{{ profile.pfp.url }}" />
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <h2><a href="{% url 'user_profile_list' %}">Meer...</a></h2>
            </div>
        </div>
    </div>
{% endblock %}
