{% extends 'core/base.html' %}
{% load static from static %}
{% block head %}
<link rel="stylesheet" href="{% static 'hbo.css' %}">
{% endblock %}
{% block content %}
<div class="title">
    <h2>
        <div class="white">
            Welkom bij
        </div>

        <div class="blue">
            Open-
        </div>
        <div class="red">
            ICT
        </div>

    </h2>
    <div class="HU">
        <img src="{% static 'images/HU.png' %}">
    </div>




</div>

<div class="center">


    <div class="container">
        <p>De opleiding OPEN-ICT aan de Hogeschool Utrecht, op de Heidelberglaan 15, is een ontzettend leuke en unieke
            ICT-studie die zich onderscheidt door zijn flexibele aanpak. Het biedt studenten de kans om hun eigen
            leerpad te bepalen en zich te verdiepen in de onderwerpen die hen het meest interesseren binnen de
            IT-wereld.

            In plaats van een vast curriculum, werk je bij OPEN-ICT aan eigen projecten of in samenwerking met
            bedrijven. Je kunt aan de slag met bijvoorbeeld software-ontwikkeling, webdesign, data-analyse, of
            cybersecurity. De praktijkgerichte aanpak zorgt ervoor dat je al vanaf het begin van de opleiding aan echte
            uitdagingen werkt. Deze manier van studeren motiveert enorm, omdat je direct resultaat ziet van je
            inspanningen.

            De flexibiliteit van de opleiding is een groot pluspunt. Je hebt de vrijheid om in je eigen tempo te
            studeren, en je kunt zelf bepalen hoe je de leerdoelen haalt. Dit betekent dat je de opleiding kunt
            aanpassen aan jouw eigen leerstijl en interesses. Als je sneller wilt gaan of juist meer tijd nodig hebt
            voor bepaalde onderwerpen, is dat allemaal mogelijk.

            Daarnaast is er veel ruimte voor persoonlijke begeleiding. Je krijgt ondersteuning van coaches en docenten
            die je helpen je leerproces vorm te geven en je doelen te bereiken. Deze persoonlijke aanpak zorgt ervoor
            dat je je nooit alleen voelt tijdens de studie, ondanks de vrijheid die je hebt.

            De community bij OPEN-ICT is ook geweldig. Omdat iedereen aan verschillende projecten werkt, leer je veel
            van elkaar en kun je samenwerken met medestudenten die verschillende achtergronden en vaardigheden hebben.
            Dit zorgt voor een dynamische leeromgeving waarin je constant wordt uitgedaagd en geïnspireerd.

            Kortom, de opleiding OPEN-ICT aan de Hogeschool Utrecht is niet alleen leerzaam, maar ook ontzettend leuk.
            Je hebt de ruimte om je eigen weg te vinden binnen de ICT, en de flexibele aanpak maakt het een studie die
            perfect aansluit op jouw eigen behoeften en ambities!</p>

    </div>
</div>
{% endblock %}
