{% extends 'core/base.html' %}
{% load static from static %}
{% block head %}
<link rel="stylesheet" href="{% static 'scrum.css' %}">
{% endblock %}
{% block content %}
<section id="Hero">

    <div class="container">
        <h2>SCRUM bij Next Step Solutions </h2>
    </div>
    <p id="InfoforScrum">Bij Next Step Solutions gebruiken wij de SCRUM methodologie om het samenwerken binnen het
        bedrijf extra efficient te maken, en om er voor te zorgen dat we opdrachten zo goed mogelijk en zo makkelijk
        mogelijk kunnen aanpassen aan de vraag van de Productowner.</p>
</section>

<section id="rolleninfo">
    <div class="Rollen">
        <h1>Rollen binnen het bedrijf</h1>
        <ul class="Rollenlist">
            <div class="Productowner">
                <h2>Productowner</h2>

                <p>De productowner bepaalt samen met de ontwikkelaars wat er gemaakt moet zijn aan het einde van de
                    sprint.</p>
            </div>

            <div class="Scrum-master">

                <h2>Scrum master</h2>

                <p>De Scrum master zorgt ervoor dat iedereen die met het project te maken heeft begrijpt wat de
                    bedoeling is en weet wat hij/zij moet doen. </p>

            </div>

            <div class="Stakeholder">

                <h2>Stakeholder</h2>

                <p>Onder de Stakeholders vallen alle klanten van ons bedrijf en met de input van de Stakeholders zullen
                    de Developers het gewenste product creëren.</p>

            </div>

            <div class="Developer">

                <h2>Developer</h2>

                <p>De Developers werken tijdens de sprint aan de ontwikkelingen van het product.</p>

            </div>

        </ul>
    </div>
</section>
{% endblock %}
