{% extends 'core/base.html' %}
{% block content %}
    <div id="main-content">
        <div id="container">
            <div class="rounded-card left-card" id="announcements">
                <h1>Aankondigingen</h1>
                {% for announcement in announcements %}
                <a class="announcement" href="{% url 'announcement' id=announcement.id %}">{{announcement.title}}</a>
                {% endfor %}
                <h2><a href="{% url 'announcements' %}">Meer...</a></h2>
            </div>
        </div>
    </div>
{% endblock %}
