{% extends 'core/base.html' %}
{% load static from static %}
{% block title %}{{ user.username }}s Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'edit_profile.css' %}">
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div id="main-content">
        <h1>Alle Medewerkers</h1>
        <ul>
            
            {% for profile in profiles %}
                <li>{{ profile.name }} - {{ profile.email }} - {{ profile.city }}</li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
