{% extends 'core/base.html' %}
{% load static from static %}
{% block title %}Alle Collega's{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'profiles_list.css' %}">
{% endblock %}
{% block content %}
<!-- Main Content -->
<div id="main-content">
    <div class="all-profiles">

        <div class="page-header">
            <a class="back-button" href={% url 'home' %}>
                &#8592;
            </a>
        </div>
        
        <div class="user" id="newUser">
            <div class="initials-icon">
                <div class="initials">+</div>
            </div>
            <div class="basic-info-block">
                <form id="newUserForm">
                    <label for="name">Voeg een nieuwe collega toe:</label>
                    <input type="text" id="name" name="name" required>
                    <button type="submit">Opslaan</button>
                </form>
                <script src="{% static 'new_user.js'%}"></script>
            </div>
        </div>

        {% for profile in profiles %}
        <a href="/profiles/{{ profile.first_name }}" class="user-profile-link">
            <div class="user">
                <div class="initials-icon">
                    <div class="initials">{{ profile.first_name|make_list|first }}.{{ profile.last_name|make_list|first }}.</div>
                </div>
                <div class="basic-info-block">
                    <div class="full-name">{{ profile.first_name }} {{ profile.last_name }}</div>
                    <div class="email-address">{{ profile.email }}</div>
                    <div class="phone-number">Tel.: {{ profile.number }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
