{% extends 'core/base.html' %}
{% load static from static %}
{% block title %}{{ user.username }}s Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'edit_profile.css' %}">
{% endblock %}
{% block content %}
<!-- Main Content -->
<div id="main-content">
    <div id="profile-container">
        <div class="profile-row" id="row1">
            <div class="rounded-card" id="profile-pfp">
                <img src="" alt="Profile picture of {{ user.username }}" />
            </div>
            <div class="rounded-card" id="profile-info">
                <div id="profile-info-left">
                    <div class="profile-info-box" id="profile-name">Naam</div>
                    <div class="profile-info-box" id="profile-age">Verjaardag</div>
                    <div class="profile-info-box" id="profile-city">Woonplaats</div>
                    <div class="profile-info-box" id="profile-gender">Geslacht</div>
                    <div class="profile-info-box" id="profile-gender">Voornaamwoorden</div>
                    <div class="profile-info-box" id="profile-gender">Telefoonnummer</div>
                    <div class="profile-info-box" id="profile-gender">Emailadres</div>
                </div>
                <div id="profile-info-right">
                    <div class="profile-info-box" id="profile-name">{{ user.username }}</div>
                    <div class="profile-info-box" id="profile-age">{{ user.age }}</div>
                    <div class="profile-info-box" id="profile-city">{{ user.city }}</div>
                    <div class="profile-info-box" id="profile-gender">{{ user.gender }}</div>
                    <div class="profile-info-box" id="profile-gender">{{ user.pronouns }}</div>
                    <div class="profile-info-box" id="profile-gender">{{ user.number }}</div>
                    <div class="profile-info-box" id="profile-gender">{{ user.email }}</div>
                </div>
            </div>
        </div>
        <div class="profile-row" id="row2">
            <div class="rounded-card" id="profile-roles">
                <h1>Mijn Rollen</h1>
                <div class="profile-role" id="profile-role1">CEO</div>
                <div class="profile-role" id="profile-role2">CTO</div>
                <div class="profile-role" id="profile-role3">CFO</div>
            </div>
            <div class="rounded-card" id="profile-about-me">
                <h1>Alles Over Mij</h1>
                <p>
                    {{ user.bio }}
                </p>
            </div>
        </div>
        <div class="profile-row" id="row3">
            <div class="rounded-card" id="profile-trivia">
                <h1>Trivia</h1>
                <p>{{ user.trivia1 }}</p>
                <p>{{ user.trivia2 }}</p>
                <p>{{ user.trivia3 }}</p>
                <p>{{ user.trivia4 }}</p>
                <p>{{ user.trivia5 }}</p>
                <p></p>
            </div>
            <a href="edit_profile.html" id="profile-edit-link">
                <div class="rounded-card" id="profile-edit-box">
                    Bewerk Dit Profiel...
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
